<h1>Portfolio</h1>

<%= link_to  "Create New Item", new_portfolio_path  %>

<% @portfolio_items.each do |pi| %>
  <p><%= link_to pi.title, portfolio_show_path(pi) %></p>
  <p><%= pi.subtitle %></p>
  <p><%= pi.body %></p>
  <% if pi.thumb_image? %>
    <p><%= image_tag pi.thumb_image %></p>
  <% end %>
  <%= link_to  "Edit", edit_portfolio_path(pi) %> 
  <%= link_to 'Delete', portfolio_path(pi), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

